html {
  margin-left: calc(100vw - 100%);
}

body {
  background: url(/images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  font-size: 18px;
  font-family: "proxima-nova", sans-serif;
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse !important;
}

.about {

}

.about img.avatar {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

a:link, a:visited {
  color: #BFA2D8;
}

header h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
  float: left;
  margin-left: 30px;
  margin-right: 20px;
  margin-bottom: 80px;
  height: 60px;
}

header h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 15px;
  font-weight: 100;
  float: left;
  margin-left: 20px;
  height: 60px;
  color: rgba(255, 255, 255, 0.7);
}

.content {
  clear: left;
  max-width: 1136px;
  width: 90%;
  margin: 3em auto;
}

.try .field {
  float: left;
  width: 30%;
  position: relative;
  margin-right: 10px;
}

.try label {
  color: rgba(255, 255, 255, 0.6);
  margin-top: 10px;
  margin-bottom: 4px;
  display: block;
  text-transform: uppercase;
  font-size: 12px;
}

.try input[type="text"] {
  font-size: 18px;
  padding: 8px;
  border: solid 1px #aaa;
  background-color: rgba(0, 0, 0, 0.2);
  width: 92%;
  color: #fff;
}

.try select {
  background: transparent;
  font-size: 16px;
  color: #fff;
  height: 39px;
}

.result-container {
  clear: left;
  margin-top: 100px;
}

.result-container h4 {
  margin: 5px;
  padding-bottom: 20px;
}

.panel {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 8px 24px;
  border-radius: 8px;
  margin-bottom: 70px;
}

.panel.info {
  margin-bottom: 200px;
}

ul.nav {
  list-style-type: none;
  padding: 0;
}

ul.nav li {
  display: inline;
  margin-right: 10px;
}

ul.nav li a {
  color: #fff;
  font-size: 13px;
  text-decoration: none;
  display: inline-block;
  padding: 8px 24px;
  border: solid 1px #fff;
  height: 15px;
  border-radius: 15px;
}

ul.nav li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

ul.nav li a.active, ul.nav li a.active:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

table.examples {
  margin: auto;
  width: 100%;
}

table.examples tr td {
  border-bottom: solid 1px #eee;
  text-align: center;
  padding: 4px 20px;
  text-align: left;
}

table.examples tr:last-child td {
  border-bottom: none;
}

table.examples tr:hover td {
  /*background-color: #f5f0f5;*/
  background-color: rgba(255, 255, 255, 0.1);
}

table.examples td.example {
  font-weight: bold;
}

.reference p {
  font-size: 14px;
}

table.reference-table {
  margin-left: -23px;
  margin-right: -23px;
}

table.reference-table th {
  text-align: left;
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.8);
}

table.reference-table tr.separator td {
  background-color: rgba(0, 0, 0, 0.4);
}

table.reference-table td {
  border-right: solid 1px #000;
  border-bottom: solid 1px #000;
  padding: 8px 20px;
  /*background-color: rgba(0, 0, 0, 0.3);*/
}

table.reference-table tr:first-child td {
  border-bottom: solid 1px #000;
}

table.reference-table tr:last-child td {
  border-bottom: none;
}

table.reference-table td:last-child {
  border-right: none;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0px 40px;
  text-align: center;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ddd;
}

@media (max-width: 600px) {
  header h1 {
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 31px;
    height: inherit;
  }

  header h2 {
    clear: left;
    margin-left: 30px;
    margin-bottom: 60px;
    font-size: 14px;
    height: inherit;
  }

  .try .field {
    float: none;
    display: block;
    width: 100%;
    padding: 18px;
  }

  .result-container {
    margin: 18px;
  }

  .content {
    width: 100%;
  }

  ul.nav {
    margin-left: 30px;
  }

  .panel {
    border-radius: 0px;
    padding: 0;
  }

  .panel p {
    display: inline-block;
    padding: 10px;
  }

  table.reference-table {
    margin-left: 0;
    margin-right: 0;
  }

  footer {
    text-align: inherit;
  }
}
